<section id="hello" appBorder class="py-10 mt-20">
	<div appContainer>
		<div class="flex maxLg:flex-col-reverse gap-[30px]">
			<div class="basis-1/2 flex flex-col gap-5 maxLg:items-center">
				<div class="">
					<app-title renderAs="h2" title="I'm Ratmir Klimov"></app-title>
					<p appTextStyle class="maxLg:text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
						Cumque,
						odit saepe?
						Quaerat velit
						assumenda voluptas amet explicabo, vel esse excepturi atque perspiciatis possimus error
						officiis sed quos voluptatibus repellendus commodi. Lorem, ipsum dolor sit amet consectetur
						adipisicing elit. Dolor accusantium tenetur eos omnis praesentium in asperiores modi quod
						similique exercitationem est molestiae laboriosam ad dolorum, a ea eum corporis libero.</p>
				</div>
				<div class="flex gap-[90px] text-xs">
					<div class="flex flex-col font-bold gap-[10px]">
						<span>PHONE</span>
						<span>EMAIL</span>
						<span>ADDRESS</span>
						<span>SOCIAL</span>
					</div>
					<div appTextStyle class="flex flex-col  gap-[10px]">
						<a href="tel:+375257059890">+375-25-705-98-90</a>
						<a href="mailto:rklimow409@gmail.com">rklimow409@gmail.com</a>
						<span>Minsk,Belarus</span>
						<span class="flex items-center gap-5">
							<a target="_blank" href="https://t.me/ratmir141">
								<img class="max-w-[18px]" src="../../assets/icons8-telegram.svg" alt="telegram img">
							</a>
							<a target="_blank" href="https://github.com/Xielain-art">
								<img class="max-w-[18px]" src="../../assets/icons8-github.svg" alt="github img">
							</a>
							<a target="_blank" href="https://vk.com/ratmirrr1">
								<img class="max-w-[18px]" src="../../assets/icons8-vk.svg" alt="vk img">
							</a>
						</span>
					</div>
				</div>
				<div class="flex w-full maxLg:justify-center gap-[30px] text-white font-bold text-xs">
					<a class="p-[15px] basis-[170px] text-center rounded-sm bg-blue-600 cursor-pointer">CONTACT
						ME</a>
					<a class="p-[15px] basis-[170px] text-center rounded-sm text-zinc-700 bg-gray-200 cursor-pointer">DOWNLOAD
						CV</a>
				</div>
			</div>
			<div class="basis-1/2 maxLg:basis-full ">
				<img src="http://via.placeholder.com/640x360" class="w-full" alt="">
			</div>
		</div>
	</div>
</section>