<section class="flex flex-col gap-5">
	<div class="flex flex-col gap-1">
		<app-title [title]="data.title" renderAs="h2">
		</app-title>
		<p appTextStyle>{{data.description}}</p>
		<div class="text-xs flex flex-col gap-3">
			<div class="flex gap-1">
				<span class=" font-bold">STACK</span>
				<p>{{data.stack}}</p>
			</div>
			<div class="flex gap-1">
				<ng-container *ngIf="data.date as date">
					<span class=" font-bold">DATE</span>
					<p>{{date | date: 'mediumDate'}}</p>
				</ng-container>
			</div>
		</div>
		<ng-container *ngIf="data.image as img">
			<img [src]="img" class="w-full " alt="">
		</ng-container>
	</div>
</section>