<ul class="flex justify-end items-center gap-9 maxLg:flex-col">
	<li appLinkStyle><a class="cursor-pointer" (click)="onClickScroll('hello')">{{ 'hello' | uppercase }}</a></li>
	<li appLinkStyle><a class="cursor-pointer" (click)="onClickScroll('skills')">{{ 'skills' | uppercase }}</a></li>
	<li appLinkStyle><a class="cursor-pointer" (click)="onClickScroll('experience')">{{ 'experience' | uppercase }}</a>
	</li>
	<li appLinkStyle><a class="cursor-pointer" (click)="onClickScroll('education')">{{'education' | uppercase}}</a></li>
	<li appLinkStyle><a class="cursor-pointer" (click)="onClickScroll('portfolio')">{{'portfolio' | uppercase}}</a></li>
	<li appLinkStyle><a class="cursor-pointer" (click)="onClickScroll('contact')">{{'contact me' | uppercase}}</a></li>
</ul>