<section>
	<form [formGroup]="addPortfolioForm" action="" class="flex items-center justify-center flex-col w-full">
		<mat-form-field class="w-full">
			<mat-label>Title</mat-label>
			<input formControlName="title" matInput type="text">
		</mat-form-field>
		<mat-form-field class="w-full">
			<mat-label>Description</mat-label>
			<input formControlName="description" matInput type="text">
		</mat-form-field>
		<mat-form-field class="w-full">
			<mat-label>Choose a date</mat-label>
			<input formControlName="date" formControlName="date" matInput [matDatepicker]="picker">
			<mat-hint>MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="picker">
				<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
			</mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
		<mat-form-field class="w-full">
			<mat-label>Stack</mat-label>
			<input formControlName="stack" matInput type="text">
		</mat-form-field>
		<input (change)="onFileChange($event)" class="mb-3" type="file">
		<div class="flex gap-2 w-full">
			<button [disabled]="!addPortfolioForm.valid" mat-raised-button class="basis-1/2"
				(click)="onFormSubmit()">Add</button>
			<button mat-raised-button class="basis-1/2" color="warn" (click)="resetForm()">Clear form</button>
			<button (click)="redirectToPortfolioItemsList()" mat-raised-button class="basis-1/2" color="primary">View
				All
				Portfolio</button>
		</div>
	</form>
</section>