<section class="flex flex-col gap-5">
	<div class="flex flex-col gap-1">
		<app-title title="gdfgdfgdfgd" renderAs="h2">
		</app-title>
		<p appTextStyle>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quod quas corporis, enim amet
			nostrum aut esse quo odit praesentium.</p>
		<div class="text-xs flex flex-col gap-3">
			<div class="flex gap-1">
				<span class=" font-bold">STACK</span>
				<p>12G GDF GDFG DF GFD GFD GFD GDF G3</p>
			</div>
			<div class="flex gap-1">
				<span class=" font-bold">DATE</span>
				<p>123</p>
			</div>
		</div>
		<img src="http://via.placeholder.com/640x360" class="w-full" alt="">
	</div>
</section>