<app-modal-window>
	<form [formGroup]="skillForm" class="flex flex-col">
		<mat-form-field class="grow">
			<mat-label>
				Title
			</mat-label>
			<input formControlName="title" matInput type="text">
		</mat-form-field>
		<mat-form-field>
			<mat-label>
				Description
			</mat-label>
			<textarea formControlName="description" matInput></textarea>
		</mat-form-field>
		<div class="flex gap-2">
			<button [disabled]="!skillForm.valid" mat-raised-button class="basis-1/2"
				(click)="onFormSubmit()">Add</button>
			<button mat-raised-button class="basis-1/2" color="warn" (click)="resetForm()">Clear form</button>
		</div>
	</form>
</app-modal-window>