<div class="flex gap-[30px] maxLg:flex-col maxLg:text-center">
	<div class="basis-[370px] shrink-0 flex flex-col maxLg:basis-0">
		<app-title renderAs="h2" title="Skills"></app-title>
		<p appTextStyle>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
			Distinctio, quasi. Vero labore
			velit odit pariatur? Accusamus labore consequatur perferendis commodi?</p>
	</div>
	<div class="flex flex-wrap gap-[30px] justify-between maxLg:flex-col maxLg:gap-[10px] grow">
		<app-skills-list-item *ngFor="let skill of skills" [description]="skill.description" [title]="skill.title">
		</app-skills-list-item>
	</div>
</div>