<div class="flex gap-[30px] maxLg:flex-col maxSm:text-center">
	<div class="basis-[370px] shrink-0 flex flex-col maxLg:basis-0">
		<app-title renderAs="h2" title="Skills"></app-title>
		<p class="maxLg:text-center" appTextStyle>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
			Distinctio, quasi. Vero labore
			velit odit pariatur? Accusamus labore consequatur perferendis commodi?</p>
	</div>
	<div class="grow   flex flex-wrap gap-[30px] maxLg:flex-col maxLg:gap-[10px]">
		<div class="flex flex-col basis-[370px] grow-1 maxLg:basis-0 maxLg:border-b-2 maxLg:pb-3">
			<h4 class="text-[18px] font-bold">Web Development</h4>
			<p appTextStyle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quisquam aperiam
				dolorem illo
				incidunt harum officiis fuga vel corrupti sint.</p>
		</div>
		<div class="flex flex-col basis-[370px] grow-1 maxLg:basis-0 maxLg:border-b-2 maxLg:pb-3">
			<h4 class="text-[18px] font-bold">Web Development</h4>
			<p appTextStyle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quisquam aperiam
				dolorem illo
				incidunt harum officiis fuga vel corrupti sint.</p>
		</div>
		<div class="flex flex-col basis-[370px] grow-1 maxLg:basis-0 maxLg:border-b-2 maxLg:pb-3">
			<h4 class="text-[18px] font-bold">Web Development</h4>
			<p appTextStyle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quisquam aperiam
				dolorem illo
				incidunt harum officiis fuga vel corrupti sint.</p>
		</div>

	</div>
</div>