<section>
	<div appContainer>
		<div class="min-h-screen flex flex-col flex-wrap justify-center items-center gap-3">
			<div class="flex gap-3 flex-wrap maxLg:flex-col">
				<button class="uppercase" mat-stroked-button (click)="addSkill()">add skill</button>
				<button class="uppercase" mat-stroked-button (click)="addExperience()">add experience</button>
				<button class="uppercase" mat-stroked-button (click)="addPortfolio()">add portfolio</button>
				<button class="uppercase" mat-stroked-button (click)="addEducation()">add education</button>
			</div>
			<div class="">
				<button mat-stroked-button (click)="redirectToMain()">GO TO MAIN PAGE</button>
			</div>
		</div>

	</div>
</section>